@model List<GreatOutdoors.MVC.Models.OrderDetailViewModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order Details</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <h2 class="col-md-4 mx-auto">Place Return or Cancel</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Order Status</th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Quantity</td>
                    <td>@item.TotalPrice</td>
                    <td>@item.CurrentStatus</td>
                    <td>
                        <a href="@Url.Action("PlaceReturn", "Returns",new { id = item.OrderDetailID })">Return</a>
                    </td>
                    <td>
                        <a href="@Url.Action("RequestCancel", "Returns",new { id = item.OrderDetailID })">Cancel</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
